vti_encoding:SR|utf8-nl
vti_author:SR|LAPTOP-8LD73CJH\\User
vti_modifiedby:SR|LAPTOP-TQCLRKII\\rishi
vti_timelastmodified:TR|03 Aug 2023 16:48:20 -0000
vti_timecreated:TR|31 Jul 2023 04:04:03 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|contactus.html workoutplans.html workoutday1.html nutritionplans.html workoutday2.html workoutday3.html workoutday4.html default.dwt aboutus.html nutritionday3.html nutritionday4.html nutritionday5.html default.html workoutday5.html nutritionday1.html nutritionday2.html
vti_nexttolasttimemodified:TW|03 Aug 2023 16:47:51 -0000
vti_cacheddtm:TX|03 Aug 2023 16:48:20 -0000
vti_filesize:IR|1626
vti_cachedlinkinfo:VX|S|header2.png S|footer2.jpg
vti_cachedsvcrellinks:VX|FSUS|header2.png FSUS|footer2.jpg
